
<h2>Upload</h2>

<div class="jumbotron">
    @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
            <p>
                <label for="Title">Title</label>
            </p>
            <p>
                @Html.TextBox("Title")
            </p>
            <p>
                <label for="Description">Description</label>
            </p>
            <p>
                @Html.TextArea("Description", null, 4, 20, null)
            </p>
            <p>
                <label for="Content">Content (allowed formats - mp3, mp4)</label>
            </p>
            <p>
                <input class="btn btn-primary btn-sm" type="file" name="MediaFile" />
            </p>

            <input class="btn btn-success" type="submit" value="Upload Audio/Video" />
    }
</div>

