@using MediaShare.Web.Models.Files

@model IEnumerable<BasicMediaFileViewModel>

@if (Model.Any())
{
    foreach (var item in Model
        .OrderByDescending(f => (double)f.Votes.Sum(v => v.Value) / f.Votes.Count)
        .Take(6))
    {
        <div class="col-md-4" style="margin-bottom:50px">
            @{Html.RenderPartial("_FilePartial", item);}
            @Html.DisplayFor(d => item.Votes, "DisplayRate")
        </div>
    }
}
else
{
    <h3 class="text-center">No Entries...</h3>
}
