@using MediaShare.Models

@model ICollection<MediaFile>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-md-4" style="margin-bottom:50px">
            @{Html.RenderPartial("_FilePartial", item);}
            <p>
                <b>Rating:</b> @(string.Format("{0:0.0}", (double)item.Votes.Sum(x => x.Value) / (item.Votes.Count == 0 ? 1 : item.Votes.Count))) / 5 (@item.Votes.Count users voted)
            </p>
        </div>
    }
}
else
{
    <h3 class="text-center">No Entries...</h3>
}
