@using MediaShare.Web.Models.Files
@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<BasicMediaFileViewModel>
<div>
    @if (TempData["Success"] != null)
    {
            <div id="success-message" class="alert alert-dismissable alert-success" style="position:fixed"> @TempData["Success"]</div>            
    }
  
    <div class="table row well">
        <h3>Top Rated Video clips</h3>
        <hr />
        @{
            Html.RenderPartial("HomePartial", @Model.Where(f => f.Type == MediaShare.Models.MediaType.Video).ToList());
        }
        
    </div>
    <div class="table row well">
        <h3>Top Rated Songs</h3>
        <hr />
        @{
            Html.RenderPartial("HomePartial", @Model.Where(f => f.Type == MediaShare.Models.MediaType.Audio).ToList());
        }
        
    </div>
</div>
@section scripts{
    <script>
                $(document).ready(function () {
                    setInterval(function () {
                        $('#success-message').fadeOut(2000);
                    }, 2000)
                });
    </script>
}

