@{
    ViewBag.Title = "Home Page";
}
@model MediaShare.Web.Models.HomeViewModel
<div>

    <div class="table row well">

        @{
            Html.RenderPartial("HomePartial", Model.Top3VideoFiles);
        }

    </div>
    <div class="table row well">
        @{
            Html.RenderPartial("HomePartial", Model.Top3AudioFiles);
        }

    </div>
</div>

