@{
    ViewBag.Title = "Home Page";
}
<div>
    @if (TempData["Success"] != null)
    {
            <div id="success-message" class="alert alert-dismissable alert-success" style="position:fixed"> @TempData["Success"]</div>            
    }
  
    <div class="table row well">
        <h3 style="color:crimson">Top Rated Video clips</h3>
        <hr />
        @{
            Html.RenderAction("GetTopVideo");
        }
        
    </div>
    <div class="table row well">
        <h3 style="color:crimson">Top Rated Songs</h3>
        <hr />
        @{
            Html.RenderAction("GetTopAudio");
        }
        
    </div>
</div>

