@{
    ViewBag.Title = "Home Page";
}
<div>
    @if (TempData["Success"] != null)
    {
            <div id="success-message" class="alert alert-dismissable alert-success" style="position:fixed"> @TempData["Success"]</div>            
    }
  
    <div class="table row well">
        <h3 style="color:crimson">Top 3 Video</h3>
        <hr />
        @{
            Html.RenderAction("GetTopVideo");
            //Html.RenderPartial("HomePartial");
        }
        
    </div>
    <div class="table row well">
        <h3 style="color:crimson">Top 3 Audio</h3>
        <hr />
        @{
            Html.RenderAction("GetTopAudio");
            //Html.RenderPartial("HomePartial");
        }
        
    </div>
</div>

