@using MediaShare.Web.Models.Files
@model IEnumerable<BasicMediaFileViewModel>
@{
    ViewBag.Title = "Latest Files";
}

<div class="table row well">
    <h3>Latest Video files</h3>
    <hr />
   
    @{
        Html.RenderPartial("LatestPartial", @Model.Where(f => f.Type == MediaShare.Models.MediaType.Video));
    }    
    

</div>
<div class="table row well">
    <h3>Latest Audio files</h3>
    <hr />
    @{
        Html.RenderPartial("LatestPartial", @Model.Where(f => f.Type == MediaShare.Models.MediaType.Audio));
    }
    

</div>




