
@{
    ViewBag.Title = "Latest Files";
}

<div class="table row well">
    <h3>Latest Video files</h3>
    <hr />
    @{
        Html.RenderAction("LatestVideo");
    }

</div>
<div class="table row well">
    <h3>Latest Audio files</h3>
    <hr />
    @{
        Html.RenderAction("LatestAudio");
    }

</div>




