@{
    ViewBag.Title = "User files";
}

@using MediaShare.Web.Models.Files;
@using Microsoft.AspNet.Identity;
@using PagedList.Mvc

@model PagedList.IPagedList<MediaFileViewModel>

<div class="table row well">
    <h3 style="color:crimson">@ViewBag.UserName uploads</h3>
    <hr />
    @{
        Html.RenderPartial("_PagedFiles");
    }
    <div class="col-md-10">
        @Html.PagedListPager(Model, page => Url.Action("Index", "UserFiles",
                         new { area = "Authorized", Id = this.User.Identity.GetUserId(), page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)        
    </div>
</div>
