@using MediaShare.Web.Models.Files
@using MediaShare.Web.Models

@model PagedList.IPagedList<AdvancedMediaFileViewModel>
@{
    ViewBag.Title = "All Media";        
}
<div class="well">
    <h3 style="color:crimson">
        All Media files
    </h3>

    <hr />
    @{
        Html.RenderPartial("FilterPartial", new FilterViewModel());
    }
  
    <hr />
    <div id="files-container" class="container" style="padding-right:50px">
        @{
            Html.RenderPartial("_PagedFiles");
        }
    </div>
   
</div>
