@using MediaShare.Web.Models.Files
@using MediaShare.Web.Models
@using PagedList.Mvc

@model PagedList.IPagedList<MediaFileViewModel>
@{
    ViewBag.Title = "All Media";        
}
<div class="well">
    <h3 style="color:crimson">All Media files</h3>
    <hr />
    @{
        Html.RenderPartial("FilterPartial",new FilterViewModel());
    }
  
    <hr />
    <div id="files-container" class="container" style="padding-right:50px">
        <div class="col-md-10">
            @Html.PagedListPager(Model, page => Url.Action("RenderFiles", "AllFiles", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.OnlyShowFivePagesAtATime, new AjaxOptions { UpdateTargetId = "files-container", HttpMethod = "GET" }))
        </div>
        @{
            Html.RenderPartial("_PagedFiles");
        }
        <div class="col-md-10">
            @Html.PagedListPager(Model, page => Url.Action("RenderFiles", "AllFiles", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.OnlyShowFivePagesAtATime,new AjaxOptions { UpdateTargetId = "files-container", HttpMethod = "GET" }))
        </div>
    </div>
   
</div>
