@using MediaShare.Web.Models.Files
@using PagedList.Mvc
@model PagedList.IPagedList<BasicMediaFileViewModel>

@if (Model.Any())
{
    if (Request.IsAjaxRequest() || ViewBag.Title == "All Media")
    {
        @Html.DisplayFor(m => Model, "DisplayAsyncPager", new { action = "RenderFiles", controller = "AllFiles" })
    }
    foreach (var item in Model)
    {
        var someClass = "col-md-4";
        if (ViewBag.Title == "All Media" || Request.IsAjaxRequest())
        {
            someClass = "col-md-7";
        }

        <div class=@someClass style="margin-bottom:50px;">
            @{Html.RenderPartial("_FilePartial", item);}
            @if (ViewBag.Title == "All Media" || Request.IsAjaxRequest())
            {
                Html.RenderPartial("FileInfoPartial", item);                          
            }
        </div>
    }
    if (Request.IsAjaxRequest() || ViewBag.Title == "All Media")
    {
        @Html.DisplayFor(m => Model, "DisplayAsyncPager", new { action = "RenderFiles", controller = "AllFiles" })
    }

}
else
{
    <h3 class="pull-left">No Entries...</h3>
}
