@using MediaShare.Web.Models.Files

@model PagedList.IPagedList<BasicMediaFileViewModel>

@if (Model.Any())
{

    if (Request.IsAjaxRequest() || ViewBag.Title == "All Media")
    {
        @Html.DisplayFor(m => Model, "DisplayAsyncPager", new { action = "RenderFiles", controller = "AllFiles" })
    }
    <div class="col-md-12" id="Loader" style="display:none">
        <span style="color:#00ffff">
            Loading...Please wait
            <img src="~/MediaFiles/red loader.gif" width="50" height="50" alt="Alternate Text" />
        </span>
    </div>
    foreach (var item in Model)
    {
        var someClass = "col-md-4";
        if (ViewBag.Title == "All Media" || Request.IsAjaxRequest())
        {
            someClass = "col-md-7";
        }

        <div class=@someClass style="margin-bottom:50px;">
            @{Html.RenderPartial("_FilePartial", item);}
            @if (ViewBag.Title == "All Media" || Request.IsAjaxRequest())
            {
                Html.RenderPartial("FileInfoPartial", item);                          
            }
        </div>
    }
    if (Request.IsAjaxRequest() || ViewBag.Title == "All Media")
    {
        @Html.DisplayFor(m => Model, "DisplayAsyncPager", new { action = "RenderFiles", controller = "AllFiles" })
    }
    <div class="col-md-12" id="Loader" style="display:none">
        <span style="color:#00ffff">
            Loading...Please wait
            <img src="~/MediaFiles/red loader.gif" width="50" height="50" alt="Alternate Text" />
        </span>
    </div>
}
else
{
    <h3 class="pull-left">No Entries...</h3>
}
