@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="center-block" style="margin-top:50px;" height="400" width="600" src="~/MediaFiles/error_pic.jpg" alt="" />
<h2 class="text-danger text-center">An error occurred while processing your request.</h2>

