@{
    ViewBag.Title = "User files";
}

@using System.Linq;
@using MediaShare.Models
@using Microsoft.AspNet.Identity;
@using PagedList.Mvc

@model PagedList.IPagedList<MediaFile>

<div class="table row well">
    <h3 style="color:crimson">Favourites</h3>
    <hr />

    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-4" style="margin-bottom:50px">
                @{Html.RenderPartial("_FilePartial", item);}
            </div>
        }
        <div class="col-md-10">
            @Html.PagedListPager(Model, page => Url.Action("Index", "Favourites",
                new { area = "Authorized", Id = this.User.Identity.GetUserId(), page }))
            <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <span>of</span> @Model.PageCount
        </div>
    }
    else
    {
        <h3 class="text-center">No Entries...</h3>
    }
</div>
