@using MediaShare.Web.Areas.Authorized.Models;
@using MediaShare.Common;
@model UserViewModel

<p>
    <b>Created by:  @Html.ActionLink(@Model.Email.ExtractUsernameFromMail(), "Files", "UserFiles", new { area = "Authorized", Id = Model.Id }, new { })</b>
</p>
