@using MediaShare.Web.Models.Files;
@using PagedList.Mvc

@model PagedList.IPagedList<BasicMediaFileViewModel>
@{
    string action = ViewData["action"].ToString();
    string controller = ViewData["controller"].ToString();
    string area = ViewData["area"] == null ? "" : ViewData["area"].ToString();
    string id = ViewData["id"].ToString();
}

<div class="col-md-10">
    @Html.PagedListPager(Model, page => Url.Action(action, controller,
                        new { area = area, Id = id, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>
