@using Kendo.Mvc.UI;
@using MediaShare.Web.Models.Files;

@{
    ViewBag.Title = "Files Administration";
    const string ControllerName = "FilesAdministration";
}

<h3>@ViewBag.Title</h3>
@(Html.Kendo()
    .Grid<AdvancedMediaFileViewModel>()
    .Name("grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Id);
        cols.Bound(pr => pr.Title);
        cols.Bound(pr => pr.Type);
        cols.Bound(pr => pr.DateCreated);
        cols.Bound(pr => pr.Author.Email);
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Filterable()
    .DataSource(data =>
        data
            .Ajax()
            .Model(m => m.Id(adv => adv.Id))
            .Read(read => read.Action("Read", ControllerName))
            .Destroy(destroy => destroy.Action("Delete", ControllerName))
            ))

